$azulHover:#06e;
$amarilloMedula:#FAC116;
$amarilloMedulaFondo:#FCC212;
$cyanMedula:#45BCD2;
$grisClaro0:#F0F0F0;
$grisClaro1:#E6E6E6;

//"museo-sans", "PT Sans", "ubuntu-mono", "pt-serif"

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import "_normals";
//@import "_prism";
@import "_monokai";

i{
	font-family: "pt-serif",serif;
	font-style: italic;
	//font-size:17px;
	//color:#444;
}

.contiene-logo{
	a{
		display: block;
		min-width: 281px;
		min-height: 120px;
		background-repeat: no-repeat;
		.no-svg &{
			background-image: url(../img/content/logo-blog-medula-code.png);
		}
		.svg &{
			background-image: url(../img/content/logo-code-medula-diseno-sprite.svg);
			&:link, &:visited{
				background-position: 0 0;
			}
			&:hover, &:active, &:focus{
				background-position: 0 -120px;
			}
		}
	}
}

h1,h2,h3{
	font-family:"museo-sans","PT Sans",sans-serif;
	font-style:italic;
	font-weight:900;
	font-size:2em;
	color:#565656;
	line-height:1em;
}
h2, h3{
	font-style:normal;
	font-size:1.725em;
}
h3{
	font-size:1.5em;
}
kbd{
    background-color:#333;
    border:1px solid #ccc;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0,0,0,1), 1px, 1px, 3px, 0, true);
    color:#DDD;
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 -1px 0 #000;
}
samp{
    background-color:$grisClaro1;
    border:1px solid #ccc;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0,0,0,0.3), 1px, 1px, 3px, 0, true);
    color:#333;
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 -1px 0 #FFF;
}
figure{
	pre{
		word-break: normal;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		overflow: auto;
		overflow-y:hidden;
		white-space: pre;
	}
} 
article {
	max-width:595px;
	margin:0 2%;
	header {
		border-bottom:1px solid #B3B3B3;
		h2, h3{
			color:$cyanMedula;
			font-size:20px;
			margin:0;
		}
		h3{font-style:italic; }
	}
	a{
		text-decoration:none;
		border-bottom:1px solid #ddd;
		&:link, &:visited{
			border-bottom-color:#ddd;
		}
		&:hover, &:active, &:focus{
			border-bottom-color:$azulHover;
		}
	}
	figure{
		font-family:"pt-serif","PT Sans",sans-serif;
		background:#FFF;
		padding:1em;
		border:1px solid #CCC;
		margin:0 -1em 1em -1em;
		.boxshadow &{
			border:none;
			@include single-box-shadow(rgba(0,0,0,0.3),1px, 1px, 3px, 1px);
		}
		img{ 
			max-width:100%;
			border: 1px dotted #DDD;
		}
	}
	img{ 
		max-width:100%;
	}
}
.articleGroup article{
	h1{margin-bottom:0.2em;}
}
.contiene-logo{
	padding:0.5em 1em;
}
.otros-post{
	.boxshadow &{
		@include single-box-shadow(rgba(0,0,0,0.2),3px, 3px, 6px, 0);
	}
	background-color:$grisClaro0;
	.grupo{

	}
	.caluga{
		width:auto;
		margin-right: 9px;
		padding-top: 18px;
		padding-bottom: 1px;
		line-height: 1.125em;
		header{
			background-color: #FFF;
			min-height: 44px;
			padding-top: 22px;
			margin-right:5px;
			&.primero{margin-right:0}
			.boxshadow &{
				@include single-box-shadow(rgba(0,0,0,0.2),3px, 3px, 6px, 0);
			}
			h2{
				font-size:24px;
				font-style:italic;
				margin:0 0.5em 0 0.5em;
				&.estrella{
					&:before{
						content:'★';
						font-style:normal;
						color:$amarilloMedula;
					}
				}
			}
		}
		&.recomendados{
			background-color: $cyanMedula;
		}
		&.anteriores{
			background-color: $amarilloMedulaFondo;
		}
		&.acerca-de{
			background-color: $grisClaro1;
			p{
				margin:1.5em;
			}
		}
	}
	ul{padding:0;}
	li{
		list-style: none;
		margin: 1.5em;
		h4{margin:0;}
		p{margin:0;}
		a{
			color: #FFF;
			text-decoration: none;
			//border-bottom: 1px solid #DDD;
			@include inline-block;
			@include single-transition(color, 0.2s, ease-in-out, 0);
			&:hover, &:active, &:focus{
				text-decoration: underline;
				color:#565656;
			}
		}
	}
}
.button, .boton {
  @include background-image(linear-gradient(#EEE, #ccc));
  @include border-radius(4px);
  text-shadow: -1px -1px 0 rgba(255,255,255,0.5);
  border: 1px solid #666;
  padding: 0 0.25em;
}
.pubDate{
	margin-top:0;
	color:#777;
	time{
		font-style:italic;
	}
}
.mainContainer{
	*[lang]{
		font-style: italic;
		display: inline-block;
		line-height: 1.25em;
		margin-top: 0.25em;
	}
}
@media (min-width: 31em){//desde 31ems hacia arriba
	h1{
		font-size: 3em;
	}
	article{
		margin: 0 1.25em;
	}
}
@media screen and (min-width: 900px) {
	.wrapper{
		width:auto;
		@include inline-block;
		margin:0 2%;
	}
	.contiene-logo{
		@include inline-block;
		vertical-align:top;
		padding:1em;
	}
	.otros-post, .otros-post .grupo, article, .articleGroup{
		@include inline-block;
		vertical-align: top;
	}
	.articleGroup article{display:block;}
	.otros-post{
		background-color:$grisClaro0;
		width:269px;
		padding:13px 0 13px 9px;
		.grupo{
			margin-bottom: 18px;
		}
		.caluga{
			width:260px;
			margin-right: 9px;
			padding-top: 18px;
			margin-bottom: 13px;
		}
	}
}
@media screen and (min-width: 1276px) {
    .otros-post{
    	width:538px;
	}
}


@import "_print";
@import "_helpers";