$azulHover:#06e;

//"museo-sans", "PT Sans", "ubuntu-mono", "pt-serif"

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import "_normals";

i{
	font-family: "pt-serif",serif;
	font-style: italic;
	//font-size:17px;
	//color:#444;
}

h1,h2,h3{
	font-family:"museo-sans","PT Sans",sans-serif;
	font-style:italic;
	font-weight:900;
	font-size:48px;
	color:#565656;
	line-height:1em;
}
h2, h3{
	font-style:normal;
	font-size:28px;
}
h3{
	font-size:24px;
}
kbd{
    background-color:#333;
    border:1px solid #ccc;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0,0,0,1), 1px, 1px, 3px, 0, true);
    color:#DDD;
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 -1px 0 #000;
}
figure pre{
	word-wrap: none;
	overflow-x: scroll;
}
article {
	max-width:595px;
	header {
		border-bottom:1px solid #B3B3B3;
		h2, h3{
			color:#45BCD2;
			font-size:20px;
			margin:0;
		}
		h3{font-style:italic; }
	}
	a{
		text-decoration:none;
		border-bottom:1px solid #ddd;
		&:link, &:visited{
			border-bottom-color:#ddd;
		}
		&:hover, &:active, &:focus{
			border-bottom-color:$azulHover;
		}
	}
	figure{
		font-family:"pt-serif","PT Sans",sans-serif;
		background:#FFF;
		padding:1em;
		border:1px solid #CCC;
		margin:0 -1em 1em -1em;
		.boxshadow &{
			border:none;
			@include single-box-shadow(rgba(0,0,0,0.3),1px, 1px, 3px, 1px);
		}
		img{ 
			max-width:100%;
			border: 1px dotted #DDD;
		}
	}
}

@import "_print";
@import "_helpers";